/*
Syntax error: File to import not found or unreadable: foundation/components/global.
              Load paths:
                /Users/anton.hagerstrand/dev/off/legered/contents/sass
                /Users/anton.hagerstrand/dev/off/legered/contents/sass
        on line 13 of /Users/anton.hagerstrand/dev/off/legered/contents/sass/app.scss

8: //@import "foundation";
9: 
10: // Import specific parts of Foundation by commenting the import "foundation"
11: // and uncommenting what you want below. You must uncomment the following if customizing
12: 
13: @import "foundation/components/global"; // *always required
14: @import "foundation/components/grid";
15: 
16: //
17: // Use this grid if you want to start using the new Foundation 5 grid early.
18: // It will change breakpoints to min-width: 640px and 1024px.

Backtrace:
/Users/anton.hagerstrand/dev/off/legered/contents/sass/app.scss:13
/usr/local/Cellar/ruby/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/import_node.rb:67:in `rescue in import'
/usr/local/Cellar/ruby/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/import_node.rb:45:in `import'
/usr/local/Cellar/ruby/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/import_node.rb:28:in `imported_file'
/usr/local/Cellar/ruby/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/import_node.rb:37:in `css_import?'
/usr/local/Cellar/ruby/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/usr/local/Cellar/ruby/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/Cellar/ruby/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/Cellar/ruby/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/local/Cellar/ruby/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `map'
/usr/local/Cellar/ruby/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/local/Cellar/ruby/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/usr/local/Cellar/ruby/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/usr/local/Cellar/ruby/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/usr/local/Cellar/ruby/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/local/Cellar/ruby/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/usr/local/Cellar/ruby/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/Cellar/ruby/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/Cellar/ruby/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:7:in `visit'
/usr/local/Cellar/ruby/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/tree/root_node.rb:20:in `render'
/usr/local/Cellar/ruby/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/engine.rb:315:in `_render'
/usr/local/Cellar/ruby/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/engine.rb:262:in `render'
/usr/local/Cellar/ruby/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/usr/local/Cellar/ruby/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/usr/local/Cellar/ruby/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:201:in `each'
/usr/local/Cellar/ruby/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/usr/local/Cellar/ruby/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/plugin.rb:81:in `update_stylesheets'
/usr/local/Cellar/ruby/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/exec.rb:435:in `watch_or_update'
/usr/local/Cellar/ruby/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/exec.rb:318:in `process_result'
/usr/local/Cellar/ruby/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/exec.rb:41:in `parse'
/usr/local/Cellar/ruby/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/lib/sass/exec.rb:21:in `parse!'
/usr/local/Cellar/ruby/2.0.0-p195/lib/ruby/gems/2.0.0/gems/sass-3.2.10/bin/sass:9:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: foundation/components/global.\A               Load paths:\A                 /Users/anton.hagerstrand/dev/off/legered/contents/sass\A                 /Users/anton.hagerstrand/dev/off/legered/contents/sass\A         on line 13 of /Users/anton.hagerstrand/dev/off/legered/contents/sass/app.scss\A \A 8: //@import \"foundation\";\A 9: \A 10: // Import specific parts of Foundation by commenting the import \"foundation\"\A 11: // and uncommenting what you want below. You must uncomment the following if customizing\A 12: \A 13: @import \"foundation/components/global\"; // *always required\A 14: @import \"foundation/components/grid\";\A 15: \A 16: //\A 17: // Use this grid if you want to start using the new Foundation 5 grid early.\A 18: // It will change breakpoints to min-width: 640px and 1024px."; }
