<div>
  <keypress></keypress>
  <div class="listing" ui-keydown="{'enter':'keyPress($event)'}">
    <div id="{{'item-' + $index}}"
         class="item"
         ng-repeat="item in listing" ng-class="{selected: $index == selectedIndex}">
      <div class="title row">
        <div class="thumbnail large-1 small-1 columns">
          <img width="100%" src="{{item.thumbnail}}"/>
        </div>
        <div class="large-11 small-11 columns">
          <span>
            <a href="{{item.link}}">
              {{item.title}}
            </a>
          </span>
        </div>
      </div>
      <div class="content row">
        <div ng-switch on="item.type" class="{{item.type}}">
          <div ng-switch-when="imgs">
            <div class="small-12 columns" ng-repeat="img in item.imgs  ">
              <img src="{{img.url}}"/>
            </div>
          </div>
          <div ng-switch-default/>
        </div>
      </div>
    </div>
  </div>
</div>
